:root {
  --x-41: rgba(107, 107, 107, 1);
  --light:
    0px 0px 1px 0px rgba(63, 255, 144, 1), 0px 0px 1px 0px rgba(63, 255, 144, 1), 0px 0px 1px 0px rgba(
      63,
      255,
      144,
      1
    );
}
